<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-margin-top">
    <ion-radio-group [(ngModel)]="criterion" value="name">
      <ion-list-header>
        <ion-label> What do you wanna search for? </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Type</ion-label>
        <ion-radio value="type" color="primary"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-radio value="name" color="primary"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br />

  <ion-item>
    <ion-label position="floating">Write here the {{criterion}}</ion-label>
    <ion-input [(ngModel)]="selector" required></ion-input>
  </ion-item>

  <ion-button
    class="ion-margin-vertical"
    size="large"
    shape="round"
    expand="block"
    (click)="search()"
    >search it</ion-button
  >

  <div [hidden]="isHidden">
    <h2 style="text-align: center">Media list</h2>

    <ion-grid fixed="true" class="ion-padding-horizontal">
      <ion-row>
        <ion-col> <h4>ID</h4> </ion-col>
        <ion-col> <h4>Name</h4> </ion-col>
        <ion-col> <h4>Type</h4> </ion-col>
        <ion-col> <h4>Publisher</h4> </ion-col>
      </ion-row>
      <ion-row *ngFor="let m of mySelection">
        <ion-col>{{m.id}}</ion-col>
        <ion-col>{{m.name}}</ion-col>
        <ion-col> {{m.type}} </ion-col>
        <ion-col> {{m.publisher}} </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
